%h1 GPA
%p
  Street address, 100 00 Stockholm

%h2 Menu

- @products.each do |product|
  %p= product.name
  %p= product.description
  %p= product.price

- @categorise.each do |category|
  %p= category.starters
  %p= category.main_courses
  %p= category.desserts
