%h1.mui--text-center Products
%table.mui-table
  %thead
    %tr
      %th
      %th
      %th
      %th
.mui-container-fluid
  .mui-row

- @categories.each do |category|
  %h3= category.name
  - category.products.each do |product|
    %div{id: "product_#{product.id}"}
      .mui-col-md-4
        %p= product.name
      .mui-col-md-4
        %p= product.description
      .mui-col-md-4
        %p= product.price



    %table.mui-table
      %thead
        %th
          %span
            = link_to "Edit", edit_product_path(product)
