%h1 Products#index

- @categories.each do |category|
  %p= category.name
  - category.products.each do |product|
    %div{id: "product_#{product.id}"}
      %p= product.name
      %p= product.description
      %p= product.price
      %span
        = link_to "Edit", edit_product_path(product)
